<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Covid Stats!</h1><br>
    <form method="POST">
        <label for="countrycode">Enter a Country Code</label><br><br>
    <input placeholder="Country Code" name="text">
    <input type="submit">
</form>
    <img src="{{image }}">


    <p>You have {{ count }} Visitors.</p>

</div>

